rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Por defecto, lectura pública y escritura denegada (para proteger tu info)
    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
    
    // PERO permitimos escritura al documento de "likes" para que cualquiera pueda dar like
    match /website_stats/global {
      allow write: if true;
    }
  }
}
