rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true; // Cualquiera puede ver/descargar el CV y la foto
      allow write: if false; // Solo tú puedes subir desde la consola de Firebase
    }
  }
}
